@charset "UTF-8";


/**
*	Easing.
*/
$bounce            : cubic-bezier(.14,.21,.17,1.34);
$ease              : cubic-bezier(.25,.1,.25,1);
$ease-out          : cubic-bezier(0,0,.5,1);
$ease-out-strong   : cubic-bezier(0,0,0,1);
$ease-in           : cubic-bezier(.5,0,1,1);
$ease-in-strong    : cubic-bezier(1,0,1,1);
$ease-in-out       : cubic-bezier(.5,0,.5,1);
$ease-in-out-strong: cubic-bezier(1,0,0,1);


/**
*	Progress bar animation.
*/
@mixin animation-progress($color: rgba(#fff, .3)) {
	background-repeat: repeat;
	@include background-image(linear-gradient(-45deg, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%));
	@include background-size(50px 50px);
	@include animation(progressinfinit 1.5s infinite linear);
	@include keyframes(progressinfinit) {
		0% { background-position: 0 0; }
		100% { background-position: 50px 50px; }
	}
}

@mixin animation-rotateplane() {
	@include animation(rotateplane 1.2s infinite ease-in-out);
	@include keyframes(rotateplane) {
		0% {
			@include transform(perspective(120px));
		}
		50% {
			@include transform(perspective(120px) rotateY(180deg));
		}
		100% {
			@include transform(perspective(120px) rotateY(180deg) rotateX(180deg));
		}
	}
}