@charset "UTF-8";


/**
*	Подключение шрифтов Font-Face.
*/
@each $font-style, $font-name in $fonts {
	@include font-face($font-name, font-files(
		'#{$font-name}.woff',
		'#{$font-name}.ttf',
		'#{$font-name}.svg'
	), '#{$font-name}.eot', normal, normal);
}


/**
*	Изменение поведения всех элементы под border-box.
*/
* {
	@include box-sizing(border-box);
}


/**
*	Фича для прижатого к низу футера.
*/
html {
	height: 100%;
}


/**
*	Настройка body.
*/
body {
	position: relative; // sticky footer fix
	min-height: 100%; // sticky footer fix
	font-size: $font-size;
	font-family: font('regular'), Arial; // Webfont render fix (roboto)
	color: color('font');
	background-color: color('background');
}


/**
*	Удаление обводки в webkit.
*/
:focus {
	outline: none;
}


/**
*	Цвет выделения текста на странице (только отдельно).
*/
::selection {
	color: color('background');
	background: color('selection');
}

::-moz-selection {
	color: color('background');
	background: color('selection');
}


/**
*	Смена цвета для заполнителей (только отдельно).
*/
::-webkit-input-placeholder {
	color: color('mute');
}

:-moz-placeholder {
	color: color('mute');
}

::-moz-placeholder {
	color: color('mute');
}

:-ms-input-placeholder {
	color: color('mute');
	opacity: 1;
}


/**
*	Класс обертки в фиксированную ширину.
*/
.wrapper {
	margin: 0 auto;

	@each $size, $width in $screens {
		@if $width == auto {
			@include respond-to($size) {
				margin: 0;
				padding: 0 ($grid-gutter / 2);
				width: 100%;
			}
		} @else {
			@include respond-to($size) {
				width: $width;
			}
		}
	}
}


/**
*	Очистка плавающий элементов.
*/
.clear {
	@include clearfix();
}


/**
*	Модификаторы видмости.
*/
._hidden {
	display: none;
}

@each $size, $width in $screens {
	._visible-#{$size} {
		@each $id, $max_width in $screens {
			@if $size == $id {
				@include respond-to($id) {
					display: inherit !important;
				}
			} @else {
				@include respond-to($id) {
					display: none !important;
				}
			}
		}
	}

	._hidden-#{$size} {
		@include respond-to($size) {
			display: none !important;
		}
	}
}


/**
*	Модификаторы глубины (z-уровень).
*/
@for $i from 0 through 5 {
	._depth-#{$i} {
		@include depth($i);
	}
}


/**
*	Модификаторы отступов.
*/
@mixin make-indents($screen: '') {
	@if $screen != '' {
		$screen: '-' + $screen;
	}

	@for $i from 1 through $intends-multiplier {
		$gutter: $i * $grid-gutter;
		$postfix: $screen;

		@if $i > 1 {
			$postfix: $postfix + '-#{$i}x';
		}

		._mt#{$postfix} {
			margin-top: $gutter !important;
		}

		._mb#{$postfix} {
			margin-bottom: $gutter !important;
		}

		._mr#{$postfix} {
			margin-right: $gutter !important;
		}

		._ml#{$postfix} {
			margin-left: $gutter !important;
		}

		._pt#{$postfix} {
			padding-top: $gutter !important;
		}

		._pb#{$postfix} {
			padding-bottom: $gutter !important;
		}

		._pr#{$postfix} {
			padding-right: $gutter !important;
		}

		._pl#{$postfix} {
			padding-left: $gutter !important;
		}
	}
}

@include make-indents();

@include respond-to(lg) {
	@include make-indents(lg);
}

@include respond-to(md) {
	@include make-indents(md);
}

@include respond-to(sm) {
	@include make-indents(sm);
}

@include respond-to(xs) {
	@include make-indents(xs);
}