@charset "UTF-8";


/**
*	Строка (не использовать вертикальный отрицательный отступ).
*/
.row {
	margin-left: ceil(($grid-gutter / -2));
	margin-right: floor(($grid-gutter / -2));
	@include clearfix();

	&._group {
		margin-bottom: $grid-gutter;

		&:last-child {
			margin-bottom: 0;
		}
	}
}


/**
*	Общий стиль для всех колонн.
*/
@mixin make-columns-default() {
	$i: 1;
	$list: ".col-#{$i}, .col-lg-#{$i}, .col-md-#{$i}, .col-sm-#{$i}, .col-xs-#{$i}";

	@for $i from 2 through $grid-count {
		$list: "#{$list}, .col-#{$i}, .col-lg-#{$i}, .col-md-#{$i}, .col-sm-#{$i}, .col-xs-#{$i}";
	}

	#{$list} {
		position: relative;
		float: left;
		padding-left: ceil($grid-gutter / 2);
		padding-right: floor($grid-gutter / 2);
		min-height: 1px;
	}
}


/**
*	Основная сетка.
*/
@mixin make-main-grid($screen: "") {
	@if $screen != "" {
		$screen: $screen + "-";
	}

	@for $i from 1 through $grid-count {
		$col-width: $i / $grid-count;

		.col-#{$screen}#{$i} {
			width: percentage($col-width);
			@include respond-to(xs) {
				width: 100%;
			}
		}

		.offset-#{$screen}#{$i} {
			margin-left: percentage($col-width);
			@include respond-to(xs) {
				margin-left: 0;
			}
		}

		.push-#{$screen}#{$i} {
			left: percentage($i / $grid-count);
		}

		.pull-#{$screen}#{$i} {
			right: percentage($i / $grid-count);
		}
	}

	.offset-#{$screen}0 {
		margin-left: 0;
	}

	.push-#{$screen}0 {
		left: auto;
	}

	.pull-#{$screen}0 {
		right: auto;
	}
}


/**
*	Сетка для экранов.
*/
@mixin make-grid($screen: "") {
	@if $screen != "" {
		$screen: $screen + "-";
	}

	@for $i from 1 through $grid-count {
		$col-width: $i / $grid-count;

		.col-#{$screen}#{$i} {
			width: percentage($col-width);
		}

		.offset-#{$screen}#{$i} {
			margin-left: percentage($col-width);
		}

		.push-#{$screen}#{$i} {
			left: percentage($i / $grid-count);
		}

		.pull-#{$screen}#{$i} {
			right: percentage($i / $grid-count);
		}
	}

	.offset-#{$screen}0 {
		margin-left: 0;
	}

	.push-#{$screen}0 {
		left: auto;
	}

	.pull-#{$screen}0 {
		right: auto;
	}
}

@include make-columns-default;

@include make-main-grid();

@include respond-to(lg) {
	@include make-main-grid(lg);
}

@include respond-to(md) {
	@include make-grid(md);
}

@include respond-to(sm) {
	@include make-grid(sm);
}

@include respond-to(xs) {
	@include make-grid(xs);
}