@charset "UTF-8";


/**
*	Универсальный, не стилизованный каркас для text, textarea, select.
*/
%input {
	$ui-height: ui-size('medium');
	$font-size: calc-ui-font($ui-height);

	display: inline-block;
	margin: 0; // Reset default
	padding: calc-ui-padding($ui-height, $font-size) round($ui-height * .25);
	width: 100%; // Reset default
	height: $ui-height;
	font-size: $font-size;
	font-family: font('regular');
	line-height: normal;
	vertical-align: middle;
	border: none; // Reset default

	&:disabled, &[disabled], &._disabled {
		cursor: not-allowed;
	}

	@each $name, $ui-height in $ui-sizes {
		&._#{$name} {
			$font-size: calc-ui-font($ui-height);

			padding: calc-ui-padding($ui-height, $font-size) round($ui-height * .25);
			height: $ui-height;
			font-size: $font-size;
		}
	}
}


/**
*	Стилизованное текстовое поле.
*/
%_input {
	@extend %input;

	$ui-height: ui-size('medium');
	$font-size: calc-ui-font($ui-height);
	$padding: calc-ui-padding($ui-height, $font-size);

	padding-left: 0;
	padding-right: 0;
	background: transparent;
	border-bottom: 1px solid material-color('grey', '400');

	&:focus {
		padding-bottom: $padding - 1;
		border-bottom: 2px solid color('primary');
	}

	&:disabled, &[disabled], &._disabled {
		color: color('mute');
		border-bottom-style: dashed;
	}

	&[type=number] {
		padding-top: 0;
		padding-bottom: 0;
	}

	@each $name, $ui-height in $ui-sizes {
		$font-size: calc-ui-font($ui-height);
		$padding: calc-ui-padding($ui-height, $font-size);

		&._#{$name} {
			padding-left: 0;
			padding-right: 0;
		}

		&._#{$name}:focus {
			padding-bottom: $padding - 1;
		}
	}
}