@charset 'UTF-8';


/**
*	Основной каркас для таблицы.
*/
%table {
	margin: 20px 0;
	width: 100%;
	border-collapse: collapse;
	line-height: 1.25;

	th {
		padding: 12px;
		font-size: $font-size + 1px;
		font-family: font('medium');
	}

	td {
		padding: 10px 12px;
		vertical-align: middle;
	}
}


/**
*	Класс таблицы.
*/
.table {
	@if mixin-exists('table') {
		@include table();
	} @else {
		@extend %table;

		thead th {
			background-color: darken(#fff, 5%);
			border-bottom: 2px solid darken(#fff, 12%);
		}

		tbody tr {
			@include transition(background-color $transition-duration $ease-out);

			&:hover {
				background-color: darken(#fff, 5%) !important;

				@include transition(none);
			}
		}

		&._striped {
			tbody tr:nth-of-type(even) {
				background-color: darken(#fff, 3%);
			}
		}

		&._bordered {
			thead th {
				border: 1px solid darken(#fff, 12%);
				border-bottom-width: 2px;
			}

			th, td {
				border: 1px solid darken(#fff, 12%);
			}
		}
	}
}