@charset "UTF-8";


/**
*	Стандартный стиль для многострочного поля ввода.
*/
%_textarea {
	@extend %_input;

	height: 150px;
	resize: vertical;

	@include scrollbar();

	@each $name, $ui-height in $ui-sizes {
		&._#{$name} {
			height: 4 * $ui-height;
		}
	}
}


/**
*	Стандартное поле ввода многострочного текста.
*	@param {color} $color [false] - цветовой модификатор.
*	@output Выводит стиль поля ввода многострочного текста.
*/
@mixin _textarea($color: false) {
	@if mixin-exists('textarea') {
		@include textarea($color);
	} @else {
		@extend %_textarea;

		@if $color {
			border-bottom-color: $color;

			&:focus {
				border-bottom-width: 2px;
			}
		}
	}
}


/**
*	Класс многострочного поля ввода.
*/
.textarea {
	@include _textarea();

	&._noresize {
		resize: none;
	}

	&._vertical {
		resize: vertical;
	}

	&._horizontal {
		resize: horizontal;
	}

	&._primary {
		@include _textarea(color('primary'));
	}

	&._secondary {
		@include _textarea(color('secondary'));
	}

	&._success {
		@include _textarea(color('success'));
	}

	&._warning {
		@include _textarea(color('warning'));
	}

	&._error {
		@include _textarea(color('error'));
	}

	&._info {
		@include _textarea(color('info'));
	}
}