@charset "UTF-8";


/**
*	Заголовки.
*/
%heading {
	margin: 20px 0 15px;
	font-family: font('light');
	font-weight: normal;
	line-height: 1.25;
	color: color('heading');

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	@extend %heading;
	font-size: 60px;

	@include respond(md) {
		font-size: 50px;
	}

	@include respond(sm, xs) {
		font-size: 40px;
	}
}

h2 {
	@extend %heading;
	font-size: 48px;

	@include respond(md) {
		font-size: 40px;
	}

	@include respond(sm, xs) {
		font-size: 34px;
	}
}

h3 {
	@extend %heading;
	font-size: 36px;

	@include respond(md) {
		font-size: 32px;
	}

	@include respond(sm, xs) {
		font-size: 30px;
	}
}

h4 {
	@extend %heading;
	font-size: 30px;

	@include respond(md) {
		font-size: 28px;
	}

	@include respond(sm, xs) {
		font-size: 26px;
		font-family: font('regular');
	}
}

h5 {
	@extend %heading;
	font-size: 24px;
	font-family: font('regular');

	@include respond(sm, xs) {
		font-size: 22px;
	}
}

h6 {
	@extend %heading;
	font-size: 20px;
	font-family: font('medium');
}


/**
*	Параграф.
*/
p {
	margin: ($grid-gutter / 2) 0;
	line-height: 1.5;
	color: inherit;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&._indent {
		text-indent: 1.25em;
	}

	@include clearfix();
}


/**
*	Строчные элементы.
*/
a {
	text-decoration: none;
	color: color('link');

	&:hover {
		text-decoration: underline;
	}
}

s, del {
	text-decoration: line-through;
}

u {
	text-decoration: underline;
}

i, em {
	font-family: font('italic');
}

b, strong {
	font-family: font('bold');
}

code {
	font-family: monospace;
	background-color: material-color('grey', '200');
}

._lowercase {
	text-transform: lowercase;
}

._uppercase {
	text-transform: uppercase;
}

._capitalize {
	text-transform: capitalize;
}

._right {
	text-align: right;
}

._left {
	text-align: left;
}

._center {
	text-align: center;
}

._justify {
	text-align: justify;
}


/**
*	Списки.
*/
%list {
	padding-left: 30px;
	margin: ($grid-gutter / 2) 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	li {
		margin-bottom: 6px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	& ul,
	& ol {
		margin: 8px 0;
		padding-left: $grid-gutter;
	}
}

.ul {
	@extend %list;
	list-style: disc;

	& ul {
		list-style: circle;
	}
}

.ol {
	@extend %list;
	list-style: decimal;

	& ol {
		list-style: lower-alpha;
	}
}


/**
*	Модификатор цвета текста и фона.
*/
@each $name, $color in $colors {
	._color-#{$name} {
		color: $color !important; // Важно для замещения цвета
	}

	._bg-#{$name} {
		background-color: $color !important; // Важно для замещения цвета
	}
}


/**
*	Изображения.
*/
._image-left {
	float: left !important;
	margin-right: $grid-gutter / 1.5 !important;
}

._image-right {
	float: right !important;
	margin-left: $grid-gutter / 1.5 !important;
}

._image-center {
	display: block !important;
	margin: 0 auto !important;
}

._image-fill {
	display: block !important;
	width: 100% !important;
	height: auto !important;
}