@charset "UTF-8";


/**
*	Imports.
*/
/*
@import "_variables.scss";
@import "compass/css3";

.button {
	position: relative;
	behavior: url("../js/PIE.htc");
}

.tabs {
	position: relative;
	behavior: url("../js/PIE.htc");
	.tab {
		position: relative;
		behavior: url("../js/PIE.htc");
	}
}

.text:focus { border: none; }

.checkbox {
	width: 20px;
	height: 20px;
}

input[type="password"] { font-family: "Arial"; }

.popup-login { behavior: url("../js/PIE.htc"); }

.popup-background {
	-pie-background: rgba(0,0,0,.6);
	behavior: url("../js/PIE.htc");
}*/